@import '../../assets/variables-SCSS/colors.scss';
@import '../../assets/variables-SCSS/font-family.scss';
@import '../../assets/variables-SCSS/font-size.scss';
@import '../../assets/variables-SCSS/shadow.scss';
@import '../../assets/variables-SCSS/border-radius.scss';

.informationBox {
    width: 340px;
    height: 340px;
    @include box-shadow;
    @include border-radius;
    background-color: $secondary-color;

    &__title {
        width: 300px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        margin: 10px auto 15px auto;
        font-family: $font-family-title;
        @include font-size-title-large;
        @include drop-shadow;
        color: $light-color;
    }

    &__description {
        width: 300px;
        height: 250px;
        margin: auto;
        padding: 0px 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        font-family: $font-family-body;
        color: $light-color;
        @include font-size-body-medium;
        @include drop-shadow;

        &__paragraph {
            margin: 0;
        }
    }
}
