@import '../../assets/variables-SCSS/colors.scss';
@import '../../assets/variables-SCSS/font-family.scss';
@import '../../assets/variables-SCSS/shadow.scss';
@import '../../assets/variables-SCSS/border-radius.scss';

.button {
    @include border-radius;
    @include box-shadow;
    width: 80%;
    max-width: 300px;
    height: 60px;
    background-color: $secondary-color;
    color: $light-color;
    border: 0;
    cursor: pointer;
    font-family: $font-family-body;
    font-size: 20px;
    transition: transform 0.5s ease-in-out;

    &__text {
        @include drop-shadow;
    }
}

.button:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 400px) {
    .button {
        font-size: 16px;
    }
}
