@import '../../../assets/variables-SCSS/colors.scss';
@import '../../../assets/variables-SCSS/font-family.scss';
@import '../../../assets/variables-SCSS/font-size.scss';

.aPropos {
    background-color: $primary-color;
    border-bottom: 3px $secondary-color solid;
    min-height: 880px;
    padding: 0 10px;

    &__title {
        @include font-size-title-medium;
        font-family: $font-family-title;
        text-align: center;
        margin-top: 0;
        padding-top: 30px;
    }

    &__text {
        max-width: 1200px;
        width: 95%;
        min-height: 355px;
        margin: 24px auto 34px auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: $font-family-body;
        @include font-size-body-medium;

        &--highlight {
            @include font-size-body-medium-highlight;
        }

        &--link {
            text-decoration: none;
            color: black;
        }

        &--link:hover {
            text-decoration: underline;
            color: $secondary-color;
        }
    }

    &__boxes {
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1081px) and (max-width: 1250px) {
    .aPropos {
        min-height: 920px;

        .informationBox {
            width: 320px;
            height: 320px;

            &__title {
                @include font-size-title-medium;
            }

            &__description {
                width: 280px;
                height: 220px;
                font-size: 18px;
            }
        }
    }
}

@media screen and (min-width: 951px) and (max-width: 1080px) {
    .aPropos {
        min-height: 920px;
    }
    .informationBox {
        width: 300px !important;
        height: 300px !important;

        &__title {
            @include font-size-title-small;
        }

        &__description {
            width: 280px !important;
            height: 210px !important;
            font-size: 17px !important;
        }
    }
}

@media screen and (max-width: 950px) {
    .aPropos {
        &__boxes {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .informationBox {
                margin-bottom: 30px;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .aPropos {
        scroll-margin-top: 80px;
    }
}
