@import '../../assets/variables-SCSS/colors.scss';
@import '../../assets/variables-SCSS/font-family.scss';
@import '../../assets/variables-SCSS/font-size.scss';
@import '../../assets/variables-SCSS/shadow.scss';
@import '../../assets/variables-SCSS/border-radius.scss';

.serviceBox {
    width: 98%;
    max-width: 340px;
    height: 400px;
    @include border-radius;
    @include box-shadow;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__title {
        margin-top: 10px;
        margin-bottom: 0;
        width: 300px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        @include font-size-title-small;
        @include drop-shadow;
        color: $light-color;
        font-family: $font-family-title;
    }

    &__text {
        width: 250px;
        text-align: center;
        @include font-size-body-medium;
        @include drop-shadow;
        color: $light-color;
        font-family: $font-family-body;
    }

    &__tags {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        height: 100px;
        width: 280px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 350px) {
    .serviceBox {
        height: 380px;

        &__title {
            font-size: 18px;
            line-height: 50px;
        }

        &__text {
            width: 90%;
            font-size: 16px;
        }

        &__tags {
            width: 90%;
            height: 140px;
        }
    }
}
