@import '../../../assets/variables-SCSS/colors.scss';
@import '../../../assets/variables-SCSS/font-size.scss';
@import '../../../assets/variables-SCSS/font-family.scss';
@import '../../../assets/variables-SCSS/border-radius.scss';
@import '../../../assets/variables-SCSS/shadow.scss';

.competences {
    min-height: 1180px;
    background-color: $tertiary-color;
    padding: 0 10px;

    &__title {
        @include font-size-title-medium;
        font-family: $font-family-title;
        text-align: center;
        margin-top: 0;
        padding-top: 30px;
    }

    &__text {
        max-width: 1000px;
        width: 95%;
        text-align: center;
        @include font-size-body-large;
        font-family: $font-family-body;
        margin: 50px auto;
    }

    .collapsesAndCV {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;

        .CV {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__image {
                border: 3px $light-color solid;
                @include border-radius;
                @include box-shadow;
                margin-bottom: 60px;
                width: 95%;
            }

            .competencesButtonLink {
                display: flex;
                justify-content: center;
                width: 80%;
                text-decoration: none;
            }
        }
    }
}

@media screen and (min-width: 951px) and (max-width: 1100px) {
    .collapsesAndCV {
        .collapses {
            &__collapse {
                width: 450px;
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .collapsesAndCV {
        display: flex;
        flex-direction: column;
        align-items: center;

        .collapses {
            width: 95%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .collapse {
                width: 90%;
            }
        }

        .CV {
            width: 95%;
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 850px) {
    .competences {
        scroll-margin-top: 80px;
    }
}

@media screen and (max-width: 600px) {
    .competences {
        &__text {
            @include font-size-body-medium;
        }
        .collapsesAndCV {
            .CV {
                padding-bottom: 30px;

                &__image {
                    margin-bottom: 40px;
                }
            }
        }
    }
}
