@import '../../../assets/variables-SCSS/colors.scss';
@import '../../../assets/variables-SCSS/font-family.scss';
@import '../../../assets/variables-SCSS/border-radius.scss';

.banner {
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: center;

    &__parallaxBanner {
        aspect-ratio: 2 / 1;
        z-index: -1;
    }

    .welcomeTextAndContactButtonContainer {
        position: absolute;
        top: 190px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 350px;
        justify-content: space-between;
    }

    &__welcomeText {
        height: 250px;
        width: 600px;
        background-color: rgba(black, 0.5);
        @include border-radius;
        display: flex;
        justify-content: center;
        align-items: center;

        &--title {
            height: 165px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            color: $light-color;
            font-family: $font-family-title;
            font-size: 36px;
            font-weight: 400;
        }
    }
}

@media screen and (min-width: 751px) and (max-width: 1024px) {
    .banner {
        &__parallaxBanner {
            aspect-ratio: 1 / 1;
        }
    }
}

@media screen and (min-width: 601px) and (max-width: 750px) {
    .banner {
        &__parallaxBanner {
            aspect-ratio: 1 / 1;
        }

        &__welcomeText {
            width: 450px;

            &--title {
                height: 150px;
                font-size: 32px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .banner {
        height: 460px;
        &__parallaxBanner {
            aspect-ratio: 1 / 1;
        }

        &__welcomeText {
            width: 450px;
            height: 220px;

            &--title {
                height: 140px;
                font-size: 32px;
            }
        }

        .welcomeTextAndContactButtonContainer {
            height: 320px;
        }
    }
}
