@import '../../../assets/variables-SCSS/colors.scss';
@import '../../../assets/variables-SCSS/font-family.scss';
@import '../../../assets/variables-SCSS/font-size.scss';
@import '../../../assets/variables-SCSS/shadow.scss';
@import '../../../assets/variables-SCSS/animations.scss';

.footer {
    height: 300px;
    background-color: $secondary-color;

    &__logo {
        width: 190px;
        padding-top: 50px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        .logo {
            width: 60px;
            @include drop-shadow;
        }
    }

    &__copyright {
        text-align: center;
        color: $light-color;
        font-family: $font-family-body;
        @include drop-shadow;
        @include font-size-body-medium;
        height: 50px;
        line-height: 50px;
        margin-top: 30px;
    }

    &__twoLinksForLegalInformations {
        display: flex;
        width: 500px;
        margin: 15px auto 0 auto;

        .legalInformation {
            width: 250px;
            line-height: 45px;
            height: 45px;
            text-align: center;
            margin: 0;

            .linksLegalInformations {
                color: $light-color;
                font-family: $font-family-body;
                text-decoration: none;
                @include drop-shadow;
                @include font-size-body-medium;

                .underlineItem {
                    @include underline;
                }
            }
        }
    }
}
