@import './colors.scss';

@mixin underline {
    position: relative;
    display: inline-block;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        bottom: 12px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $light-color;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 400ms ease-in-out;
    }

    &:hover::after {
        transform: scaleX(1);
    }
}
