@mixin font-size-title-large {
    font-size: 36px;
    font-weight: 400;
}

@mixin font-size-title-medium {
    font-size: 28px;
    font-weight: 400;
}

@mixin font-size-title-small {
    font-size: 24px;
    font-weight: 400;
}

@mixin font-size-body-medium {
    font-size: 20px;
    font-weight: 400;
}

@mixin font-size-body-large {
    font-size: 22px;
    font-weight: 400;
}

@mixin font-size-body-medium-highlight {
    font-size: 20px;
    font-weight: 600;
}
