@import '../../../assets/variables-SCSS/colors.scss';
@import '../../../assets/variables-SCSS/font-family.scss';
@import '../../../assets/variables-SCSS/font-size.scss';
@import '../../../assets/variables-SCSS/shadow.scss';

.tagService {
    width: 80px;
    background-color: $light-color;
    text-align: center;
    border-radius: 30px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include bubble-shadow;

    &__ability {
        @include font-size-body-medium-highlight;
        color: $secondary-color;
        font-family: $font-family-body;
        font-size: 90%;
    }
}
