@import '../../assets/variables.scss';

.citations {
    background-color: $background-color-1;
    height: 400px;
    border-bottom: 3px $background-color-5 solid;
    padding-top: 20px;

    &__slide {
        .quoteBox {
            background-color: $background-color-4;
            @include border-radius;
            @include box-shadow;
            width: 800px;
            height: 250px;
            margin: 0 auto 40px auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 30px;

            &__quote {
                margin-top: 0;
                margin-bottom: 50px;
                @include drop-shadow;
                text-align: center;
                color: $text-color-light;
                font-family: $text-font-2;
                font-size: 32px;
            }

            &__author {
                @include drop-shadow;
                text-align: center;
                color: $text-color-light;
                font-family: $text-font-1;
                @include font-size-title1;
            }
        }

        .swiper-pagination {
            height: 50px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .swiper-pagination-bullet {
                @include bubble-shadow;
                background-color: $text-color-light;
                border-radius: 10px;
                width: 15px;
                height: 15px;
                margin: 20px !important;
                opacity: 1;
            }

            .swiper-pagination-bullet-active {
                background-color: $background-color-4;
            }
        }
    }
}
